body {
    margin: 0;
}
table {
    border-collapse: collapse;
    margin: 15px 0;
}

td, th {
    border: 1px solid black;
    padding: 5px 10px;
}

.coffee {
    display: flex;
    padding: 10px;
    width: 200px;
    max-height: 80px;
    align-items: center;
    transition: transform 0.75s ease;
    border: 2px solid black;
    margin: 5px 10px;
}


.coffee p,
.coffee h4 {
    margin: 0;
    padding: 5px;
}

.coffee:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 10px black;
}

#coffees {
    width: 95%;
    margin: 10px auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

h4 {
    font-size: 1.5rem;
}

p {
    font-size: 1.1rem;
}

/*FORM CUSTOM*/
.form-custom {
    max-width: 400px;
    height: 150px;
    padding: 10px;
    margin-bottom: 200px;
    border: 2px solid black;
}

.custom-btn {
    margin-top: 10px;
    width: 70px;
    height: 40px;
    background: white;
    transition: transform 0.75s ease;
    border: 2px solid black;
}

.form-control {
    background: lightsteelblue;
}

.form-control:focus {
    /*transform: scale(1.1);*/
    /*box-shadow: 0px 0px 10px black;*/
    border: 2px solid black;
}

.custom-btn:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 15px black;
}

/*FOR ADD FORM*/
#add-form {
    display: none;
}


/*SECOND FORM STYLING*/
.discover-brew {
    border: none;
    width: 155px;
    background-color: transparent;
}

::placeholder{
    color: black;
    opacity: 1;
}

.explore {
    border: none;
    background-color: transparent;
}

.find-brew {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*border: 2px solid darkslateblue;*/
    height: 100px;
    /*width: 100px;*/
}

.fa-coffee {
    padding-top: 6px;
}

.fa-search {
    margin-left: 6px;
    padding-top: 6px;
    padding-left: 3px;
}

.coffee-search {
    display: flex;
    justify-content: center;
    border:  2px solid black;
    margin-bottom: 20px;
    padding: 4px;
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
    border-radius: 25px;
}

.coffee-explore {
    display: flex;
    justify-content: center;
    border: 2px solid black;
    padding: 4px;
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
    border-radius: 25px;
}